/* A debug class, used to separate components graphically during development */

.debug {
    border-style: solid;
}
@media (min-width:250px){ 
    .flexParent {
        display: flex;
        flex-direction: row;
        height: 100%;
     
       
        /* … TODO … */
    }
}


td.alignRight {
    text-align: right;
}



.sidebar {
    flex:0.1;
    border:1px solid;  
    
    /*… TODO … */
}

.mainContent {
    flex:0.8;
    margin: 2px; 
    border:1px solid; 
    /*… TODO … */
}